<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.CreateItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createItem</servlet-name>
        <url-pattern>/createItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showAllItems</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.ShowAllItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showAllItems</servlet-name>
        <url-pattern>/Items</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.ShowAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteFromBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteFromBucket</servlet-name>
        <url-pattern>/deleteFromBucket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addToBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.AddItemInBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToBucket</servlet-name>
        <url-pattern>/addToBucket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowBucketItems</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.ShowBucketItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowBucketItems</servlet-name>
        <url-pattern>/ShowBucketItems</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompleteOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompleteOrder</servlet-name>
        <url-pattern>/CompleteOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.RemoveOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAllOrders</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.ShowAllOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllOrders</servlet-name>
        <url-pattern>/ShowAllOrders</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>mate.academy.internetshop.controller.InjectorInitializer</listener-class>
    </listener>
</web-app>
